<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">All Lessons</h5>
      <span class="text-muted">Learn something new today!</span>
    </div>
    <div class="text-white h4"><%= link_to 'My Lessons', user_path(current_user)  %></div>
  </div>
  <nav class="navbar fixed-top navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button type="button" class="btn btn-light"><%= current_user.email if current_user%></button>
  </nav>
</div>
