// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#lesson-header {
  text-align: center;
}

.lessons-main {
  height: 560px;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
}

.lessons-profilepic {
  width: 200px;
  height: 200px;
}
