/* .user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

} */

#hero-holder {
  background-image: linear-gradient(#091D34, #133863);
  -webkit-box-shadow: -2px 0px 5px 8px #236AB9;
  -moz-box-shadow: -2px 0px 5px 8px #236AB9;
  box-shadow: -2px 0px 5px 8px #236AB9;
}


#sign-up-hero {
  display: grid;
  /* background-image: linear-gradient(#236AB9, #609CE1); */
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
}

#new-user-form {
  display:grid;
  justify-content: space-between;
  background-image: linear-gradient(#236AB9, #609CE1);
}
