<main>
     <h1>Teach Me</h1>
     <div class="searchContainer">
       <input
         class="searchBox"
         type="search"
         name="search"
         placeholder="  Search..."
       />
       <input type="submit" value="Search" class="searchButton" />
     </div>
     <div class="lessons">
       <div>
         <div class="text">Personal Yoga Classes</div>
         <img class="images" src="img1.jpg" alt="hhh" />
       </div>
       <div>
         <div class="text">One on One Math Tutoring</div>
         <img class="images" src="img2.jpg" alt="hhh" />
       </div>
       <div>
         <div class="text">In Your Home Cooking Class</div>
         <img class="images" src="img3.jpg" alt="hhh" />
       </div>
       <div>
         <div class="text">Coding technologies instructions</div>
         <img class="images" src="img4.jpg" alt="hhh" />
       </div>
       <div>
         <div class="text">Driving Lessons</div>
         <img class="images" src="img5.jpg" alt="hhh" />
       </div>
       <div>
         <div class="text">Bakery and Delicatessen Cooking classes</div>
         <img class="images" src="img6.jpg" alt="hhh" />
       </div>
     </div>
   </main>
   <footer>Copywrite &copy; 2019</footer>
